.hiddenHeading {
  height: 0;
  opacity: 0;
  overflow: hidden;
  width: 0;
}

.wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
}

.container {
  padding-left: 24px;
  padding-right: 24px;
  width: min(960px, 100%);
}

.row {
  align-items: center;
  display: flex;
  gap: 16px;
}

.row:not(:first-child) {
  border-top: 1px solid hsl(from var(--color-background) h s calc(l - 37));

  [data-theme="dark"] & {
    border-color: hsl(from var(--color-background) h s calc(l + 37));
  }
}

.link {
  color: inherit;
  display: block;
  flex-grow: 1;
  min-width: 0;
  text-decoration: none;
}

.repoIcon {
  border: 1px solid #000;
  border-radius: 50dvmax;
  flex-shrink: 0;
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 24px;
  padding-top: 24px;
}

@media (width < 768px) {
  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .row {
    padding-left: 12px;
    padding-right: 12px;
  }
}

.heading {
  font-size: 2.4rem;
  font-weight: bold;
}

.text {
  color: hsl(from var(--color-foreground) h s calc(l + 24));

  [data-theme="dark"] & {
    color: hsl(from var(--color-foreground) h s calc(l - 24));
  }
}
